body{
  font-family:"Times New Roman", Times, serif;
  left:0;
  margin:0;
  position:relative;
  overflow:hidden;
  background:#696969 url("http://goo.gl/MG8PHu") repeat left top;
}
.nav {
  background: none;
  left: -250px;
  top:-2px;
  height:100%;
  position: fixed;
  width: 248px;
  border-right:1px solid white;
}
.nav ul{
  list-style:none;
  border-top:1px solid white;
  margin:0;
  padding:0;
}
.nav li{
  border-bottom:1px solid white;
  line-height:45px;
  padding-left:20px;
}
.nav a{
  text-decoration:none;
  color:white;
  font-weight:600;
}
.caret-down{
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  display:inline-block;
  margin-left:5px;
}
.caret-up{
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white;
  display:inline-block;
  margin-left:5px;
}
.sub-nav{
  display:none;
}
#cdm{
  border-bottom:none;
}
#menu-icon{
  cursor:pointer;
  float:left;
  margin:5px 0px 5px 5px;
  padding:5px 5px 0px 5px;
}
.main{
  border-radius:15px;
  border: 2px solid black;
  padding: 4px;
  
  margin:auto;
  width:75%;
  height:1000px;
  top:10px;
  clear:both;
  background: #fff url("http://goo.gl/MG8PHu") repeat left top;
  text-align:center;
}
